.footer{
    background-color: var(--cor-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.footer-link{
    width: 70%;
    color: #EEECEC;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-link h4{
    font-weight: 700;
}

.footer-link a{
    color: #EEECEC;
    text-decoration: none;
    margin-right: 1.5em;
    font-weight: 300;
}

.footer-link img{
    width: 2em;
    margin: 1em 1em;
}

.footer hr{
    width: 70%;
    margin: 1em;
}

.footer-copyright{
    color: #EEECEC;
    font-weight: 300;
    padding: 1em 0;
}