@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --cor-primaria: #D9411E;
  --font-primaria: "Montserrat", sans-serif;
}

body{
  font-family: var(--font-primaria);
}